<div class="project-descr-container" fxLayout="row nowrap">
  <div fxLayout="column">
    <div class="project-title">
      snap<span class="project-title-bold">Clinical</span>
      <div class="project-title-underline" [style.background-color]="projectColor"></div>
    </div>
    
    <p>
      snapClinical™ is the only self-service mClinical platforms providing the industry 
      with the most advanced, powerful, flexible, scalable and HIPAA-compliant secure solutions 
      to support all the elements of any successful Clinical Trials.
    </p>
  </div>

  <img src="../../assets/images/snap-template.png" alt="snapClinical-Login-Device-Template">
</div>
