@import '../../styles.scss';

.project-title {
  font-weight: 400;
  font-size: 1.415rem;
  letter-spacing: 0.25px;
}
.project-title-bold {
  font-weight: 800;
}
.project-title-underline {
  width: 6.75rem;
  height: 0.175rem;
  background-color: #8F57EB;
}