<div class="project-descr-container" fxLayout="row nowrap" fxLayoutAlign="center start">
    <img src="../../assets/images/snap-template.png" alt="snapClinical-Login-Device-Template" class="mobile-show">

  <div class="project-intro-text" fxLayout="column">
    <div class="project-title">
      snap<span class="project-title-bold">Clinical</span>
      <div class="project-title-underline"></div>
    </div>
    
    <p class="project-descr">
      snapClinical™ is the only self-service mClinical platforms providing the industry 
      with the most advanced, powerful, flexible, scalable and HIPAA-compliant secure solutions 
      to support all the elements of any successful Clinical Trials.
    </p>
  </div>

  <img src="../../assets/images/snap-template.png" alt="snapClinical-Login-Device-Template" class="mobile-hidden">
</div>



<div class="project-descr-container" fxLayout="column" fxLayoutAlign="center start">
  <div class="project-intro-text" fxLayout="column">
    <div class="project-section-title">
      Background
      <div class="project-title-underline"></div>
    </div>
    
    <p class="project-section-descr">
      Working with clients and their requirements, wireframes were quickly produced 
      and development began shortly after client approval. An Angular 2+ skeleton 
      project was produced and development began as an in-house project before 
      snapClinical became what it was today. I joined in the front-end development of 
      the Management Dashboard shortfly after. 
      <br><br>
      I soon became the lead front-end developer of the Management Dashboard and was 
      involved in interviewing potential front-end developers. I would onboard new team 
      members to the system and its goals and requirements and would delegate tasks which 
      produced noticeable time efficiencies in project deliveries which continued to open 
      new doors for the company.
    </p>
  </div>

  <div class="project-intro-text" fxLayout="column">
    <div class="project-section-title">
      Technology
      <div class="project-title-underline"></div>
    </div>
    
    <p class="project-section-descr">
      Assignments were organized and tracked through <span class="project-title-bold">JIRA</span>. Coordinated with teams in Rome, 
      Italy and Bangalore, India to ensure timely and proper deliverly of required <span class="project-title-bold">RESTful APIs</span>. 
      <br><br>
      The project used the <span class="project-title-bold">Angular 2+ Framework</span> with <span class="project-title-bold">Typescript</span> and made use of various <span class="project-title-bold">node 
          modules</span> for implementation. The UI made use of <span class="project-title-bold">Material Components</span> but was heavily customized 
      using <span class="project-title-bold"></span>SCSS and <span class="project-title-bold">HTML 5</span> to ensure proper matching of the wireframes. 
      <br><br>
      <span class="project-title-bold">Resonsive design</span> was achieved using Flexbox and <span class="project-title-bold">maintainability</span> was adhered by practice 
      of modular and reusable components and classes.
    </p>
  </div>
</div>

