<div class="project-descr-container" fxLayout="row nowrap" fxLayoutAlign="center start">
  <img src="../../assets/images/snap-template.png" alt="snapClinical-Login-Device-Template" class="mobile-show">

  <div class="project-intro-text" fxLayout="column">
    <div class="project-title">
      Stem<span class="project-title-bold">Immune</span>
      <div class="project-title-underline"></div>
    </div>
    
    <p class="project-descr">
      A desktop website in a form of a lab notebook. It provides the ability to track many projects and view 
      experiment steps and much more. 
      <br><br>
      Initial designs were created based on initial documentation provided by StemImmune Inc. A demo was 
      given through Figma and live chat with screen broadcast. Feedback was taken, reviewed, and improvements 
      were made.
      <br><br>
      Design handoff given to developer.
    </p>
  </div>

  <img src="../../assets/images/ELN/ELN-template.png" alt="StemImmune-Login-Device-Template" class="mobile-hidden">
</div>

<div class="project-descr-container" fxLayout="column" fxLayoutAlign="center center">
  <img src="../../assets/images/ELN/project_main.png" alt="StemImmune-Main" class="project-section-img">
  <img src="../../assets/images/ELN/menu.png" alt="StemImmune-Menu" class="project-section-img">
  <img src="../../assets/images/ELN/edit_equipment.png" alt="StemImmune-Edit-Equipment" class="project-section-img">
</div>