<div class="card-container">
  <div class="project-preview">
    <img src="{{projectPreview}}" alt="project-preview">
  </div>

  <div class="project-title-container">
    <div class="project-title">
      {{projectTitle1}}<span class="project-title-bold">{{projectTitle2}}</span>
      <div class="project-title-underline" [style.background-color]="projectColor"></div>
    </div>

    <div class="project-role">{{projectRole}}</div>

    <button mat-raised-button class="work-view-btn" (click)="viewProject()">
      <span class="btn-text">View</span>
      <img class="btn-icon" src="assets/images/left-arrow.png" alt="arrow-icon">
    </button>
  </div>
</div>
