<div class="home-container fade-in">
  <div class="landing-self-container" fxLayout="column" fxLayoutAlign="center start">
    <div class="landing-self-name uppercase">steven duong</div>
    <div class="landing-self-role" fxLayout="column">
      <p class="role-info">UX <span class="role-x">x</span> Interaction Designer</p>
      <p class="role-info">Software Engineer <span class="role-x">x</span> Developer</p>
    </div>
  </div>
  
  <div class="landing-project-container" fxLayout="column" fxLayoutAlign="center start">
    <div class="mobile-show">
      <p class="project-featuring uppercase">featuring</p>
      <p class="project-title">snap<span class="project-title-bold">Clinical</span></p>
      <p class="project-description">
        snapClinical™ is the only self-service mClinical platforms providing the industry with the most 
        advanced, powerful, flexible, scalable and HIPAA-compliant secure solutions to support all the 
        elements of any successful Clinical Trials.
      </p>
    </div>

    <div class="landing-project-images" fxLayout="row" fxLayoutAlign="start center">
        <img src="../../assets/images/snap-template.png" alt="snapClinical-Home-Device-Template">
        <img src="../../assets/images/snapClinicalPatientPage.png" alt="snapClinical-Patient" class="mobile-hidden">

        <div class="project-tech mobile-show">
          <span>HTML 5</span>
          <span>CSS 3</span>
          <span>Angular 5</span>
          <span>REST APIs</span>
          <span>JSON</span>
          <span>JIRA</span>
        </div>
    </div>

    <div class="landing-project-info">
      <div class="mobile-hidden">
        <p class="project-featuring uppercase">featuring</p>
        <p class="project-title">snap<span class="project-title-bold">Clinical</span></p>
        <p class="project-description">
          snapClinical™ is the only self-service mClinical platforms providing the industry with the most 
          advanced, powerful, flexible, scalable and HIPAA-compliant secure solutions to support all the 
          elements of any successful Clinical Trials.
        </p>

        <div class="project-tech">
          <span>HTML 5</span>
          <span>CSS 3</span>
          <span>Angular 5</span>
          <span>REST APIs</span>
          <span>JSON</span>
          <span>JIRA</span>
        </div>
      </div>

      <button mat-raised-button class="view-btn" (click)="getRoute('snapClinical')">
        <p class="btn-text uppercase">view</p>
      </button>
    </div>
  </div>
</div>