<div class="works-component">
  <div class="works-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="works-title" fxLayout="row nowrap">
      Projects at<span class="work-title-highlight">&nbsp;SnapIoT</span>
      <div class="works-title-dash"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let work of works.snapIoT" class="work-card">
        <app-work-card 
          [projectPreview]="work.preview"
          [projectTitle1]="work.title1"
          [projectTitle2]="work.title2"
          [projectRole]="work.role"
          [projectColor]="work.color"
          (onView)="getRoute(work.title1 + work.title2)"></app-work-card>
      </div>
    </div>
  </div>
  
  <div class="works-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="works-title" fxLayout="row nowrap">
      <span class="work-title-highlight">Self</span>&nbsp;Projects
      <div class="works-title-dash"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let work of works.self" class="work-card">
        <app-work-card 
        [projectPreview]="work.preview"
          [projectTitle1]="work.title1"
          [projectTitle2]="work.title2"
          [projectRole]="work.description"
          [projectColor]="work.color"
          (onView)="getRoute(work.route)"></app-work-card>
      </div>
    </div>
  </div>
</div>
