@import '../../styles.scss';

.works-component {
  margin: 2rem auto;
  width: 80vw;
}

.work-card {
  margin: 1rem 3rem;
}

.works-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 1.25rem;
  margin-left: -42rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  width: 20rem;
  letter-spacing: 0.25px;


  .work-title-highlight {
    font-weight: 800;
  }
}

.works-container {
  margin: 2rem auto;
}


@media screen and (max-width: 1364px) {
  .works-title {
    margin-left: -2rem;
  }
}