<div class="works-component">
  <div class="works-title" fxLayoutAlign="start start">
    Projects at <span class="work-title-highlight">SnapIoT</span>
    <div class="works-title-dash"></div>
  </div>
  <div class="works-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let work of works.snapIoT" class="work-card">
      <app-work-card 
        [projectPreview]="work.preview"
        [projectTitle]="work.title"
        [projectRole]="work.role"
        (onView)="getRoute(work.title)"></app-work-card>
    </div>
  </div>
  
  <div class="works-title">
    <span class="work-title-highlight">Self</span> Projects
    <div class="works-title-dash"></div>
  </div>
  <div class="works-container" fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let work of works.self" class="work-card">
          <app-work-card 
            [projectTitle]="work.title"
            [projectRole]="work.description"></app-work-card>
        </div>
  </div>
</div>
